@model EcommerceCore.ViewModel.New.NewCrudModel

@{
    ViewData["Title"] = "Chỉnh sửa tin tức";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="@SystemStyleCard.Card">
        <div class="@SystemStyleCard.CardHeader bg-primary py-3">
            <h4 class="mb-0">@ViewData["Title"]</h4>
        </div>
        <div class="@SystemStyleCard.CardBody">
            <div class="@SystemStyleForm.ThemeForm">
                <div class="mb-3">

                    <div class="mb-3">
                        <label>Hình ảnh gốc</label>
                        <div style="display:flex; justify-content: center; align-items:center;">
                            <img src="@Model.Image" style="width: 40%; " />
                        </div>
                    </div>

                    <label>Tiêu đề</label>
                    <input class="form-control" type="text" asp-for="Title" placeholder="Tiêu đề" />
                    <span asp-validation-for="Title" class="@SystemText.TextDanger"></span>
                </div>
                <div class="mb-3">
                    <label> Nội dung </label>
                    <textarea class="form-control not-apply" type="text" asp-for="Content">  </textarea>
                    <span asp-validation-for="Content" class="@SystemText.TextDanger"></span>
                </div>
                <div class="mb-3">
                    <label>Hình ảnh</label>
                    <input class="form-control" type="file" asp-for="FileImage" placeholder="Hình ảnh" />
                    <span asp-validation-for="FileImage" class="@SystemText.TextDanger"></span>
                </div>
            </div>
        </div>
        <div class="@SystemStyleForm.ThemeFooter">
            <button type="submit" class="btn btn-rounded btn-success">Lưu</button>
            <a class="btn btn-rounded btn-danger" href="@Url.Action("Index")">Trở về</a>
        </div>
    </div>

</form>
