@using static EcommerceCore.Const.SysEnum;
@model EcommerceCore.ViewModel.User.UserViewModel

@{
    ViewData["Title"] = "Tạo mới tài khoản";
}

<div class="@SystemStyleCard.Card">
    <div class="@SystemStyleCard.CardHeader bg-primary py-3">
        <h4 class="mb-0">@ViewData["Title"]</h4>
    </div>
    <div class="@SystemStyleCard.CardBody">
        <h3>Bạn có chắc muốn reset password của người dùng "@Model.Email" ?</h3>
        <div class="@SystemStyleForm.ThemeForm">
            <div class="mb-3">
                <label>
                    Email
                </label>
                <input class="form-control" type="text" asp-for="Email" placeholder="Email" />
                <span asp-validation-for="Email" class="@SystemText.TextDanger"></span>
            </div>


            <div class="mb-3">
                <label>
                    Tên
                </label>

                <input class="form-control" type="text" asp-for="Name" placeholder="Name" />
                <span asp-validation-for="Name" class="@SystemText.TextDanger"></span>
            </div>

        </div>
    </div>
    <div class="@SystemStyleForm.ThemeFooter">
        <button type="submit" class="btn btn-rounded btn-success">Lưu</button>
        <a class="btn btn-rounded btn-danger" href="@Url.Action("Index")">Trở về</a>
    </div>
</div>
@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@