@using System.Collections
@model List<EcommerceCore.ViewModel.Tuyen.LeaderCrudViewModel>
@{
    ViewData["Title"] = "Danh sách lead phân công cho Sale " + ViewData["SalerName"];
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="col-sm-12">
    <div class="@SystemStyleCard.CardHeader">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h4 class="page-title mb-0">@ViewData["Title"]</h4>
            </div>
            <div>
                <a class="btn btn-rounded btn-light" data-toggle="tooltip" title="Tạo liên hệ mới" onclick="showModalStatus()">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="@SystemStyleCard.Card">
        <div class="@SystemStyleCard.CardBody">
            <div class="mb-2 mx-auto">
                <form asp-action="Index">
                    <div class="form-group row justify-content-center">
                        <div class="col-8 row justify-content-center mb-2">
                            <div class="col-8 " style="display:flex">
                                <input type="text" name="keyword" id="keyword"
                                       placeholder="Từ khóa.." class="form-control"/>
                            </div>
                            <div class="col-4 ">
                                <button class="btn btn-primary btn-rounded" type="submit" id="btnSearch">
                                    <span class="fa fa-search"></span>Tìm
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Đang hoạt động</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var lead in Model)
                    {
                        <tr>
                            <td>@lead.Name</td>
                            <td>@lead.Email</td>
                            <td>@lead.Phone</td>
                            <td>@lead.CreatedAt</td>
                            <td >
                                <p class="d-flex justify-content-center">
                                    @if (lead.IsActive)
                                    {
                                        <i data-feather="check"></i>
                                    }
                                    else
                                    {
                                        <i data-feather="x"></i>
                                    }
                                </p>
                            </td>
                            <td>@lead.Position</td>
                            <td>
                                <a href="javascript:void(0)" onclick="showModalDelete(@lead.LeadId)">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="modal fade" id="modal-warning">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title" id="warning-modal-title">Xác nhận</h4>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                        </div>
                        <div class="modal-body" id="warning-modal-body">
                            Bạn có chắc muốn xóa sản phẩm này
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" id="warning-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                            <button class="btn btn-primary" id="warning-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <div>
            <div class="modal fade" id="modal-status">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title" id="status-modal-title">Phân công lead</h4>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                        </div>
                        <div class="modal-body" id="status-modal-body">
                            <div class="form-group">
                                <label for="leads">Chọn lead có sẵn: <span class="text-danger">(*)</span></label>

                                <select class="form-control" id="leads">
                                    @foreach (var lead in  ViewData["Leads"] as List<EcommerceCore.ViewModel.Tuyen.LeaderCrudViewModel>)
                                    {
                                        <option value="@lead.LeadId">@lead.Name (@lead.Email)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" id="status-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                            <button class="btn btn-primary" id="status-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showModalDelete(id) {
        $("#modal-warning").modal("show");
        $("#warning-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-warning").modal("hide");
            // $.ajax({
            //     data: { id: id },
            //     type: "POST",
            //     dataType: "json",
            //     url: '@Url.Action("")',
            //     cache: false,
            //     success: function (resp) {
            //     },
            //     error: function () {
            //     },
            //     complete: function () {
            //         window.location.reload();
            //     }
            // });
        });
    }

    function showModalStatus(id) {
        $("#modal-status").modal("show");
        console.log(@ViewData["SalerId"] )

        $("#status-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-status").modal("hide");
            $.ajax({
                data: { LeadId: $('#leads').find(":selected").val(), SaleId: @ViewData["SalerId"]  },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("UpdateEnroll")',
                cache: false,
                success: function (resp) {
                    window.location.reload();
                },
                error: function (error) {
                    alert("Lỗi")
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }
</script>