@model EcommerceCore.ViewModel.Setting.SettingCrudModel

@{
    ViewData["Title"] = "Thông tin thanh toán";
}

<form  asp-action="Edit" method="post">
   <div class="@SystemStyleCard.Card">
       <div class="@SystemStyleCard.CardHeader bg-primary py-3">
           <h4 class="mb-0">@ViewData["Title"]</h4>
       </div>
       <div class="@SystemStyleCard.CardBody">
           <div class="@SystemStyleForm.ThemeForm">
              <div class="mb-3">
                <label>Tên thông tin thanh toán </label>
                @*<input class="form-control" type="text" asp-for="SettingConfig" placeholder="Thông tin thanh toán"  />*@
                <textarea class="form-control"  asp-for="SettingConfig"></textarea>
                <span asp-validation-for="SettingConfig" class="@SystemText.TextDanger"></span>
              </div>
                <div cite="mb-3">
               <label>Trạng thái hoạt động</label>
                <div class="checkbox checkbox-solid-success">
                    <input id="solid1" type="checkbox" asp-for="IsActive">
                    <label for="solid1">Hoạt động</label>
                </div>
               </div>
           </div>
       </div>
       <div class="@SystemStyleForm.ThemeFooter">
           <button type="submit" class="btn btn-rounded btn-success">Lưu</button>
           <a class="btn btn-rounded btn-danger" href="@Url.Action("Index")">Trở về</a>
       </div>
   </div>
</form>
