@model IEnumerable<EcommerceCore.ViewModel.Image.ImageViewModel>
@{
    ViewData["Title"] = "Hình ảnh sản phẩm";
}
<div class="col-sm-12">
    <div class="@SystemStyleCard.Card">
        <div class="@SystemStyleCard.CardHeader">
            <div class="d-flex align-items-center justify-content-between">
                <div class="me-2">
                    <h4 class="page-title mb-0">@ViewData["Title"]</h4>
                </div>
                <div>
                    <a href="@Url.Action("CreateProductImages", new { productId = ViewData["ProductId"] })" class="btn btn-rounded btn-light" data-toggle="tooltip" title="Tạo mới hình ảnh sản phẩm">
                        <i data-feather="plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col">Cập nhật lúc</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productImage in Model)
                    {
                        <tr>
                            <th scope="row">@productImage.Id</th>
                            @*<td><img src="~/@productImage.Url" style=" height:100px" /></td>*@
                            <td><img src="@productImage.Url" style=" height:100px" /></td>
                            <td>@productImage.CreatedAt</td>
                            <td>@productImage.UpdatedAt</td>
                            <td>
                                <a href="@Url.Action("EditProductImages", new {id = productImage.Id, productId = ViewData["ProductId"] } )"><i data-feather="edit-3"></i></a>
                                <a href="javascript:void(0)" onclick="showModalDelete(@productImage.Id)">
                                    <i data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="warning-modal-title">Xác nhận</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                </div>
                <div class="modal-body" id="warning-modal-body">
                    Bạn có chắc muốn xóa hình ảnh sản phẩm này
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" id="warning-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                    <button class="btn btn-primary" id="warning-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script>
    function showModalDelete(id) {
        $("#modal-warning").modal("show");
        $("#warning-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-warning").modal("hide");
            $.ajax({
                data: { id: id },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("DeleteProductImages")',
                cache: false,
                success: function (resp) {
                },
                error: function () {
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }
</script>