@using static EcommerceCore.Const.SysEnum;
@model EcommerceCore.ViewModel.User.UserCrudModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    string logoUrl = "logo.png";
}
<div class="p-0">
    <div class="login-card">
        <form novalidate asp-action="Register" method="post" class="theme-form login-form">
            <div class="text-center">
                <img src="~/@logoUrl" style="max-width:10rem" />
            </div>
            <h4 class="text-warning"> @(Model == null? string.Empty : Model.ErrorMessage)</h4>
            <div class="@SystemStyleCard.CardBody">
                <div class="@SystemStyleForm.ThemeForm">
                    <div class="mb-3">
                        <label>
                            Email
                        </label>
                        <input class="form-control" type="text" asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="@SystemText.TextDanger"></span>
                    </div>


                    <div class="mb-3">
                        <label>
                            Tên
                        </label>

                        <input class="form-control" type="text" asp-for="Name" placeholder="Name" />
                        <span asp-validation-for="Name" class="@SystemText.TextDanger"></span>
                    </div>
                    <div class="mb-3">
                        <label>
                            Giới tính
                        </label>
                        <select class="form-select" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option selected="selected" value="">Chọn giới tính</option>
                        </select>
                    </div>

                    <div class="mb-3">

                        <label>
                            Ngày sinh
                        </label>
                        <input class="form-control digits" asp-for="DateOfBirth" type="date">
                    </div>

                    <div class="mb-3">
                        <label>
                            Số điện thoại
                        </label>
                        <input class="form-control" asp-for="Phone" type="number" placeholder="Sđt">
                        <span asp-validation-for="Phone" class="@SystemText.TextDanger"></span>

                    </div>

                    <div class="mb-3">
                        <label>
                            Mật khẩu
                        </label>
                        <input class="form-control" asp-for="Password" type="password" placeholder="Mật khẩu">
                        <span asp-validation-for="Password" class="@SystemText.TextDanger"></span>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary btn-block">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

