@model IEnumerable<EcommerceCore.ViewModel.Category.CategoryViewModel>
@{
    ViewData["Title"] = "Danh mục";
}
    <div class="col-sm-12">
                <div class="@SystemStyleCard.Card">
                  <div class="@SystemStyleCard.CardHeader">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="me-2">
                            <h4 class="page-title mb-0">@ViewData["Title"]</h4>
                        </div>
                        <div>
                            <a href="@Url.Action("Create")" class="btn btn-rounded btn-light" data-toggle="tooltip" title="Tạo mới danh mục">
                               <i data-feather="plus"></i>
                            </a>
                        </div>
                      </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Tên danh mục</th>
                          <th scope="col">Ngày tạo</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Cập nhật lúc</th>
                          <th scope="col">Thao tác</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var category in Model)
                            {
                                <tr>
                                  <th scope="row">@category.Id</th>
                                  <td>@category.Name</td>
                                  <td>@category.CreatedAt</td>
                                  <td>@(category.IsActive ? "Hoạt động" : "Không hoạt động")</td>
                                  <td>@category.UpdatedAt</td>
                                  <td>
                                      <a href="Edit/@category.Id"><i data-feather="edit-3"></i></a>
                                      @*<a href="Delete/@category.Id"><i data-feather="trash"></i></a>*@
                                        <a href="javascript:void(0)" onclick="showModalStatus(@category.Id)">
                                        <i data-feather="zap"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="showModalDelete(@category.Id)">
                                        <i data-feather="trash-2"></i>
                                        </a>
                                  </td>
                                </tr>
                            }
                      </tbody>
                    </table>
                  </div>
                </div>

     <div class="modal fade" id="modal-status">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="status-modal-title">Xác nhận</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                </div>
                <div class="modal-body" id="status-modal-body">
                    Bạn có chắc muốn thay đổi trạng thái danh mục này
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" id="status-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                    <button class="btn btn-primary" id="status-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="warning-modal-title">Xác nhận</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                </div>
                <div class="modal-body" id="warning-modal-body">
                    Bạn có chắc muốn xóa danh mục này
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" id="warning-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                    <button class="btn btn-primary" id="warning-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
              </div>


<script>
    function showModalDelete(id) {
        $("#modal-warning").modal("show");
        $("#warning-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-warning").modal("hide");
            $.ajax({
                data: { id: id },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("Delete")',
                cache: false,
                success: function (resp) {
                },
                error: function (error) {
                    alert("Lỗi")
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }

    function showModalStatus(id) {
        $("#modal-status").modal("show");
        $("#status-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-status").modal("hide");
            $.ajax({
                data: { id: id },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("SetStatus")',
                cache: false,
                success: function (resp) {
                },
                error: function (error) {
                    alert("Lỗi")
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }
</script>