@model EcommerceCore.ViewModel.Coupon.CouponCrudModel

@{
    ViewData["Title"] = "Tạo mới mã khuyến mãi";
}

<form  asp-action="Create" method="post">
   <div class="@SystemStyleCard.Card">
       <div class="@SystemStyleCard.CardHeader bg-primary py-3">
           <h4 class="mb-0">@ViewData["Title"]</h4>
       </div>
       <div class="@SystemStyleCard.CardBody">
           <div class="@SystemStyleForm.ThemeForm">
              <div class="mb-3">
                <label>Tên mã khuyến mãi </label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Tên mã khuyến mãi"  />
                <span asp-validation-for="Name" class="@SystemText.TextDanger"></span>
              </div>
               <div class="mb-3">
                <label> Mã khuyến mãi </label>
                <input class="form-control" type="text" asp-for="Code" placeholder="Mã khuyến mãi"  />
                <span asp-validation-for="Code" class="@SystemText.TextDanger"></span>
              </div>
                <div class="mb-3">
                <label>Thời gian bắt đầu</label>
                <input class="form-control" type="datetime-local" asp-for="TimeStart" placeholder="Thời gian bắt đầu"  />
                <span asp-validation-for="TimeStart" class="@SystemText.TextDanger"></span>
              </div>
                <div class="mb-3">
                <label>Thời gian kết thúc</label>
                <input class="form-control" type="datetime-local" asp-for="TimeEnd" placeholder="Thời gian kết thúc"  />
                <span asp-validation-for="TimeEnd" class="@SystemText.TextDanger"></span>
              </div>
               <div class="mb-3">
                <label> Giá trị </label>
                <input class="form-control" type="text" asp-for="CouponPriceValue" placeholder="Giá trị"  />
                <span asp-validation-for="CouponPriceValue" class="@SystemText.TextDanger"></span>
              </div>
               <div class="mb-3">
                <label>Hình thức giảm giá</label>
                   <select class="form-select" asp-for="CouponPriceType" asp-items="Html.GetEnumSelectList<SysEnum.CouponType>()">
                    <option selected="selected" value="">Hình thức giảm giá</option>
                </select>
              </div>
                <div class="mb-3">
                <label>Lượt sử dụng tối đa</label>
                <input class="form-control" type="text" asp-for="LimitationTimes" placeholder="Lượt sử dụng tối đa"  />
                <span asp-validation-for="LimitationTimes" class="@SystemText.TextDanger"></span>
              </div>
           </div>
       </div>
       <div class="@SystemStyleForm.ThemeFooter">
           <button type="submit" class="btn btn-rounded btn-success">Lưu</button>
           <a class="btn btn-rounded btn-danger" href="@Url.Action("Index")">Trở về</a>
       </div>
   </div>
</form>
