@model EcommerceCore.ViewModel.Category.CategoryCrudModel

@{
    ViewData["Title"] = "Bạn có chắc muốn xóa danh mục này ?";
}

<form  asp-action="Delete" method="post">
   <input type="hidden" asp-for="Id" value="@Model.Id" />
   <div class="@SystemStyleCard.Card">
       <div class="@SystemStyleCard.CardHeader bg-primary py-3">
           <h4 class="mb-0">@ViewData["Title"]</h4>
       </div>
       <div class="@SystemStyleCard.CardBody">
           <div class="@SystemStyleForm.ThemeForm">
              <div class="mb-3">
                <label>Tên danh mục </label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Tên danh mục" readonly  />
                <span asp-validation-for="Name" class="@SystemText.TextDanger"></span>
              </div>
               <div cite="mb-3">
               <label>Trạng thái hoạt động</label>
                <div class="checkbox checkbox-solid-success">
                    <input id="isActive" type="checkbox" asp-for="IsActive" readonly >
                    <label for="isActive">Hoạt động</label>
                </div>
               </div>
           </div>
       </div>
       <div class="@SystemStyleForm.ThemeFooter">
           <button type="submit" class="btn btn-rounded btn-success">Lưu</button>
           <a class="btn btn-rounded btn-danger" href="@Url.Action("Index")">Trở về</a>
       </div>
   </div>
</form>
