@model IEnumerable<EcommerceCore.ViewModel.Coupon.CouponViewModel>
@{
    ViewData["Title"] = "Mã khuyến mãi";
}
    <div class="col-sm-12">
                <div class="@SystemStyleCard.Card">
                  <div class="@SystemStyleCard.CardHeader">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="me-2">
                            <h4 class="page-title mb-0">@ViewData["Title"]</h4>
                        </div>
                        <div>
                            <a href="@Url.Action("Create")" class="btn btn-rounded btn-light" data-toggle="tooltip" title="Tạo mới mã khuyến mãi">
                               <i data-feather="plus"></i>
                            </a>
                        </div>
                      </div>
                  </div>
                  <div class="@SystemStyleCard.CardBody">        <div class="mb-2 mx-auto">
            <form asp-action="Index">
                <div class="form-group row justify-content-center">
                    <div class="col-8 row justify-content-center mb-2">
                        <div class="col-8 " style="display:flex">
                            <input type="text" name="keyword" id="keyword"
                                   placeholder="Từ khóa .." class="form-control" />
                        </div>
                        <div class="col-4 ">
                            <button class="btn btn-primary btn-rounded" type="submit" id="btnSearch">
                                <span class="fa fa-search"></span>Tìm
                            </button>
                        </div>

                    </div>

                    <div class="col-8 row justify-content-center">
                        <div class="col-8" style="display:flex">
                            <select class="form-select" name="selectType" id="selectType" asp-items="Html.GetEnumSelectList<SysEnum.CouponStatus>()">
                                <option selected="selected" value="">Lọc theo trạng thái</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-light btn-rounded" id="btnClear">
                                Xoá bộ lọc
                            </a>
                        </div>

                    </div>
                </div>

            </form>

        </div> 
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Mã khuyến mãi</th>
                          <th scope="col">Mã khuyến mãi</th>
                          <th scope="col">Thời gian bắt đầu</th>
                          <th scope="col">Thời gian kết thúc</th>
                          <th scope="col">Loại giảm giá</th>
                          <th scope="col">Lượt sử dụng tối đa</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Cập nhật lúc</th>
                          <th scope="col">Thao tác</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var coupon in Model)
                            {
                                <tr>
                                  <th scope="row">@coupon.Id</th>
                                  <td style="max-width: 100px">@coupon.Name</td>
                                  <td>@coupon.Code</td>
                                  <td>@coupon.TimeStart</td>
                                  <td>@coupon.TimeEnd</td>
                                  <td>@coupon.CouponPriceTypeDisplay</td>
                                  <td>@coupon.LimitationTimes</td>
                                  <td>@(coupon.IsActive ? "Hoạt động" : "Không hoạt động")</td>
                                  <td>@coupon.UpdatedAt</td>
                                  <td>
                                      <a href="Edit/@coupon.Id"><i data-feather="edit-3"></i></a>
                                         <a href="javascript:void(0)" onclick="showModalStatus(@coupon.Id)">
                                        <i data-feather="zap"></i>
                                        </a>
                                      @*<a href="Delete/@coupon.Id"><i data-feather="trash"></i></a>*@
                                        <a href="javascript:void(0)" onclick="showModalDelete(@coupon.Id)">
                                        <i data-feather="trash-2"></i>
                                    </a>
                                  </td>
                                </tr>
                            }
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="modal fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="warning-modal-title">Xác nhận</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                </div>
                <div class="modal-body" id="warning-modal-body">
                    Bạn có chắc muốn xóa danh mục này
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" id="warning-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                    <button class="btn btn-primary" id="warning-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
              </div>

                <div class="modal fade" id="modal-status">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="status-modal-title">Xác nhận</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                </div>
                <div class="modal-body" id="status-modal-body">
                    Bạn có chắc muốn thay đổi trạng thái mã giảm giá này
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" id="status-modal-cancel" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                    <button class="btn btn-primary" id="status-modal-confirm" type="button" data-bs-original-title="" title="">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
       </div>

<script>
    function showModalDelete(id) {
        $("#modal-warning").modal("show");
        $("#warning-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-warning").modal("hide");
            $.ajax({
                data: { id: id },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("Delete")',
                cache: false,
                success: function (resp) {
                },
                error: function (error) {
                    alert("Lỗi")
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }

    function showModalStatus(id) {
        $("#modal-status").modal("show");
        $("#status-modal-confirm").click(function (e) {
            e.preventDefault();
            $("#modal-status").modal("hide");
            $.ajax({
                data: { id: id },
                type: "POST",
                dataType: "json",
                url: '@Url.Action("SetStatus")',
                cache: false,
                success: function (resp) {
                },
                error: function (error) {
                    alert("Lỗi")
                },
                complete: function () {
                    window.location.reload();
                }
            });
        });
    }
</script>